.support-logo {
 // padding: 20px 0;
  padding:0px 0px;
  min-height: 200px;
  text-align: center;
  background-color: black;
}

.support-logo img {
  max-width: 200px;
}

.list {
  margin-bottom: 0;
}

.disasters {
  margin: 16px 0;

  .stats{
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon-drought {
      color: orange;
    }

    .icon-flood {
      color: royalblue;
    }

    .header {
      margin: 12px 0;
    }

    .description {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }
}

.chart{
  margin-bottom: 16px;

  .header {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}
